<template>
  <v-container fluid>
    <!-- <v-row class="text-center">
      <v-col cols="6">
       
            <v-card height="600">
//`https://picsum.photos/650/460?image=555` 
              <v-container class="white lighten-4" >
                <v-subheader style="font-weight: bolder;font-size: x-large;color:#E5560E;margin-left: -15px;">{{this.$store.state.titulo1}}</v-subheader>

                <v-row>
                  <v-spacer></v-spacer>
                  <v-col cols="12">
                    <v-card flat>

                      <v-img :src="this.$store.state.imagen" height="460">
                        <span style="width:100%;text-align: left;"
                          class="headline white--text pl-4 pt-4 d-inline-block"
                          v-text="this.$store.state.titulo2"></span>
                      </v-img>

                      <v-card-actions class="white justify-center">
                        <v-btn color="indigo" class="white--text" fab icon small>
                          <v-icon color="#0BB68C" >{{this.$store.state.icono}}</v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>


       
      </v-col>
      <v-col cols="6">

      <v-container>
        <v-row>
          <v-col cols="12"  style="padding-top: 0px;">
            <v-sheet max-width="100%" height="100%" class="pa-4 mx-auto" color="grey lighten-3" elevation="2">

              <v-sheet elevation="12" class="mx-auto" height="570" >
                <v-card flat>
                 <v-card-text v-html="this.$store.state.contenido"></v-card-text>
                </v-card>
              </v-sheet>

            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    


      </v-col>
     
    </v-row> -->

     <v-card class="mx-auto" max-width="100%">

          <v-container fluid>
            <v-row dense>
              <v-col :cols="12">
                <v-card>
                  <v-img :src=this.$store.state.imagen class="white--text align-start" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)" height="200px">
                    <v-card-title v-text="this.$store.state.titulo1"></v-card-title>
                  </v-img>
                 
                </v-card>

                <v-card flat>
                 <v-card-text v-html="this.$store.state.contenido"></v-card-text>
                </v-card>

              </v-col>
            </v-row>
          </v-container>
        </v-card>





  </v-container>
</template>

<script>
  export default {
    name: 'Generic',

    data: () => ({
    
    items: [
        { header: 'Today' },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          title: 'Brunch this weekend?',
          subtitle: `<span class="text--primary">Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?`,
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
          title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>',
          subtitle: `<span class="text--primary">to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend.`,
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
          title: 'Oui oui',
          subtitle: '<span class="text--primary">Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?',
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
          title: 'Birthday gift',
          subtitle: '<span class="text--primary">Trevor Hansen</span> &mdash; Have any ideas about what we should get Heidi for her birthday?',
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
          title: 'Recipe to try',
          subtitle: '<span class="text--primary">Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
        },
      ],
     
    }),
  }
</script>
