<template>
  <v-carousel :continuous="true"  :cycle="cycle" height="461" style="margin-top:2px" >
    <v-carousel-item
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
      reverse-transition="fade-transition"
      transition="fade-transition"
    ></v-carousel-item>
  </v-carousel>
</template>

<script>
  export default {
    name: 'Carrousel',

    data: () => ({
      cycle: true,
    items: [
          {
            src: '/fondo1.jpg',
          },
          {
            src: '/fondo11.jpg',
          },
          {
            src: '/principal.png',
          },
          {
            src: '/FooAndGrains.png',
          },
        ],
     
    }),
    methods: {
     
    },
  }
</script>
