<template>

   <!-- "https://picsum.photos/1920/1080?random"   src="fondo1.jpg"  -->
    <v-card class="overflow-hidden" elevation="10">
    <v-app-bar style="background:white"  absolute  prominent >

      <div style="width:215px;margin-left:5px;margin-top: 20px;">
        <v-img style="top:10px;"
              contain
              src="png_krece.png"
              aspect-ratio="1"
              height="70">
        </v-img> 
      </div>
      
      <v-spacer></v-spacer>
       <!-- <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn> -->
         <div style="width:95px;    display: grid;    margin-top: 28px;">
            <button x-small v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)" style="zoom: 0.5;text-align: start;">
                <flag :iso="entry.flag" v-bind:squared=false /> {{entry.title}}
            </button>
        </div>

      <template v-slot:extension>

      <div style="width:100%!important;display: -webkit-inline-box;background-color:#030E77;">
         <div style="width:50px;background-color:#030E77;margin-left:-30px"></div>    <!--auxiliar -->
        <v-row  style="">
          <menu-about ></menu-about>
          <menu-commodities ></menu-commodities>

        </v-row>
        
      </div>
      <div style="    width: 5%; height: 38px; background-color: #030E77;margin-top: 0px;z-index: 3000;margin-right: -17px;"></div><!--auxiliar -->
      </template>

    </v-app-bar>

    <v-sheet id="scrolling-techniques-4" class="overflow-y-auto" max-height="177">
      <v-container style="height: 176px;">
      </v-container>
    </v-sheet> 

  </v-card>
 
</template>

<script>

import MenuAbout from './MenuAbout';
import MenuCommodities from './MenuCommodities';
import i18n from '@/plugins/i18n';


  export default {
    name: 'Encahezado',
    components: {
      MenuAbout,MenuCommodities,
  },
    data: () => ({
     languages: [
                    { flag: 'us', language: 'en', title: 'English' },
                    { flag: 'es', language: 'es', title: 'Español' },
                    { flag: 'pt', language: 'pt', title: 'Portuguese' }
                ],
     
    }),
    methods:{
    changeLocale(locale) {
       i18n.locale = locale;
    }
  }
  };
</script>