<template>
  <v-container style="width:200px">
    <v-menu v-if="oilandgasItems.length" bottom right  :rounded="rounded" :close-on-click="closeOnClick" v-model="$store.state.showMenu">
            <template v-slot:activator="{ on, attrs }">
              <v-btn text class="align-self-center mr-4" style="; background-color: #030E77;color: white;" v-bind="attrs" v-on="on">
                {{ $t("menUCommodities_Commodities") }}
                <v-icon right>
                  mdi-menu-down
                </v-icon>
              </v-btn>
            </template>


             <v-card class="mx-auto" style="padding-right:0px;padding-bottom:30px;overflow: hidden;    padding-left: 10px;" color="white"  width="100%">

               
                  <v-list shaped dense>

                    <v-list-item style="    margin-left: -10px;font-weight: bold;color: black;background-color:#E5560E">
  
                      <v-list-item-title style="font-size: x-large;    color: #030E77;">{{ $t("menUCommodities_Commodities") }}</v-list-item-title>
                    </v-list-item>
                    <v-row >

                    

                      <div style="width: 230px;">
                        <v-list shaped>
                        <v-list-item-content>
                          <v-list-item-title style="margin-left: 18px;font-weight: bold;color: black;margin-bottom:-10px">Oil & Gas</v-list-item-title>
                        </v-list-item-content> 

                        <v-list-item-group color="E5560E" >

                          <v-list-item v-for="(item, i) in oilandgasItems" :key="i" style="margin-bottom: -20px;margin-top: 10px;" @click="itemSeleccionado(item)">
                      
                            <v-list-item-icon>
                              <v-icon color="#0BB68C" v-text="item.icono"></v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title v-text="item.text"></v-list-item-title>
                            </v-list-item-content>

                          </v-list-item>


                        </v-list-item-group>
                      </v-list>
                       
                     </div>
                       <!-- ----------------------------------------------------------- -->
                      <div style="width: 230px;">
                       
                        <v-list shaped>
                        <v-list-item-content>
                          <v-list-item-title style="margin-left: 18px;font-weight: bold;color: black;margin-bottom:-10px">Food & Grains</v-list-item-title>
                        </v-list-item-content> 

                        <v-list-item-group color="E5560E" >

                          <v-list-item v-for="(item, i) in foodAndGrainsItems" :key="i" style="margin-bottom: -20px;margin-top: 10px" @click="itemSeleccionado(item)">
                            <v-list-item-icon>
                              <v-icon  color="#0BB68C" v-text="item.icono"></v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title v-text="item.text"></v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>

                        </v-list-item-group>
                      </v-list>
                      </div>
                   </v-row>

                  </v-list>
                </v-card>



          </v-menu>
  </v-container>
</template>

<script>
  export default {
    name: 'MenuCommodities',

    data: () => ({
       
      closeOnClick:true,
      rounded:true,
      oilandgasItems: [
         { icono:'mdi-clock',text: 'Gasoline',module:'GASOLINE' , titulo:'Gasoline increased 0.61 USD/GAL',contenido:'',imagen:'15.jpg' },
         { icono:'mdi-clock',text: 'Diesel', module:'DIESEL'  , titulo:'The diesel market serves as a barometer for the state of the economy',contenido:'',imagen:'16.jpg' },
         { icono:'mdi-clock',text: 'Jetfuel',module:'JETFUEL' , titulo:'Jet Fuel Price Monitor es una iniciativa conjunta de Platts y la IATA',contenido:'',imagen:'17.jpg'  },
         { icono:'mdi-clock',text: 'Lubricants',module:'LUBRICANTS'  , titulo:'Lubricants are composed of a base oil and chemical additives',contenido:'',imagen:'18.jpg' },
         { icono:'mdi-clock',text: 'Gas', module:'GAS' , titulo:'El gas natural es una fuente de energía conveniente que se canaliza directamente desde los campos de petróleo',contenido:'',imagen:'19.jpg'  },
         { icono:'mdi-clock',text: 'Procedures', module:'PROCEDURES1' , titulo:'CIF BASIC PROCEDURES',contenido:'',imagen:'20.jpg'  },
         { icono:'mdi-clock',text: 'Country of origin',module:'COUNTRY'  , titulo:'Country of origin',contenido:'',imagen:'22.jpg' },
         { icono:'mdi-clock',text: 'Refinery' ,module:'REFINERY' , titulo:'Refinery Plants',contenido:'',imagen:'23.jpg' },
      
      ],
      foodAndGrainsItems: [
         { icono:'mdi-clock',text: 'Sugar' ,module:'SUGAR' , titulo:'Sugar is a carbohydrate that has been used as an ingredient in food for thousands of years.',contenido:'',imagen:'23.jpg' },
         { icono:'mdi-clock',text: 'Soybean',module:'SOYBEAN' , titulo:'Soybeans are an edible legume native to Asia and are an important source of protein in many modern diets.',contenido:'',imagen:'24.jpg'  },
         { icono:'mdi-clock',text: 'Corn' ,module:'CORN' , titulo:'Corn, also known as maize, is a cereal grain native to Central America',contenido:'',imagen:'12.jpg' },
         { icono:'mdi-clock',text: 'Procedures',module:'PROCEDURES2' , titulo:'Buyer issue a Letter of Intent - LOI via Buyer’s Ban',contenido:'',imagen:'13.jpg' },
      
      ],
    //  aboutMenuOptions: [
    //     { text: 'Oil & Gas', icon: 'mdi-clock' },
    //     { text: 'Food & Grains', icon: 'mdi-account' },
    //   ],
    }),
     methods: {
       itemSeleccionado(item){
         console.log(item);
         this.$store.state.currentComponent = item.module;
         this.$store.state.titulo1 = item.text;
         this.$store.state.titulo2 = item.titulo;
         this.$store.state.icono = item.icono;
         this.$store.state.contenido = item.contenido;
         this.$store.state.imagen = item.imagen;

         console.log(this.$store.state.currentComponent);
       }
    },
  }
</script>
