<template>
  <vsm-menu
    ref="header"
    :menu="menu"
    v-bind="$attrs"
  >
    <template #before-nav>
      <li class="vsm-mob-full">
        <stripe-logo />
      </li>
    </template>
    <template #default="{ item }">
      <component :is="item.component" />
    </template>
    <template #after-nav>
      <li class="vsm-mob-hide">
        Sign in
      </li>
      <vsm-mob>
        <mobile-content />
      </vsm-mob>
    </template>
  </vsm-menu>
</template>

<script>

import HelloWorld from './HelloWorld';
//import { VsmMenu, VsmMob } from 'vue-stripe-menu';   // 'vue-stripe-menu'


  export default {
    name: 'Menu',
 components: {
    HelloWorld
  },
    data: () => ({
      menu: [
        { title: 'Company', dropdown: 'company', component: 'HelloWorld' },
        { title: 'Developers', dropdown: 'developers', component: 'HelloWorld' },
        { title: 'Products', dropdown: 'products', component: 'HelloWorld' },
        { title: 'Source', attributes: { href: 'https://github.com/Alexeykhr/vue-stripe-menu/blob/master/demo/components/BaseHeader.vue', target: '_blank' } }
      ]
    }),
  }
</script>
