<template>
  <v-container style="width:130px">
    <v-menu v-if="aboutMenuOptions.length" bottom right  :rounded="rounded" :close-on-click="closeOnClick">
            <template v-slot:activator="{ on, attrs }">
              <v-btn text class="align-self-center mr-4;" style="background-color: #030E77;color: white;" v-bind="attrs" v-on="on">
                {{ $t("menuAbout_About") }}
                <v-icon right>
                  mdi-menu-down
                </v-icon>
              </v-btn>
            </template>


            <v-card style="padding-right:0px;padding-bottom:30px;overflow: hidden;    padding-left: 10px;" width="100%">

              <v-list shaped dense >
     
                 <v-list-item   style="    margin-left: -10px;font-weight: bold;color: black;background-color:#E5560E">
                      <v-list-item-title style="font-size: x-large;color: #030E77;">{{ $t("menuAbout_About") }}</v-list-item-title>
                    </v-list-item>

                <v-list-item-group color="#E5560E" style="margin-top: -8px;" >

                  <v-list-item v-for="(item, i) in aboutMenuOptions" :key="i" style="margin-bottom: -20px;margin-top: 10px" @click="itemSeleccionado(item)">
                    <v-list-item-icon>
                      <v-icon  color="#0BB68C" v-text="item.icono"></v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title v-text="item.text"></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>

                </v-list-item-group>
              </v-list>

            </v-card>
          </v-menu>
  </v-container>
</template>

<script>

import router from '../router/index';

  export default {
    name: 'MenuAbout',
//650x460
    data: () => ({
     closeOnClick:true,
     rounded:true,
     aboutMenuOptions: [
         {imagen:'/12.jpg' ,icono:'mdi-clock', text: 'Company profile' ,module:'COMPANY', titulo:'Krece Business Group is capitalizing',contenido:'<p>As the limits of the globe become more attainable and the expectations and desires for quality products and reliability of supply is increasing, our team at Krece Business Group is capitalizing on this opportunity to connect you with the world’s best quality commodities. <br>Proudly, <strong>Krece Business Group</strong>, over the years, our supplier and end-buyer networks expanded due to client demands and our solid, reliable supplier relationships. <br><br>Today <strong>Krece Business Group</strong> is working with Agricultural, Protein and Energy supplies from Russia and South America. <br>As principal Energy suppliers and a focus on a broad range of Petroleum Products Krece Business Group is successfully servicing our clients PODs mostly on a 12month contract basis, with our Board focusing on further expansion in this sector. <br><br>Our business headquarters remains in México city with branches in São Paulo and Porto Alegre – Brazil.</p>'},
        {imagen:'/13.jpg' , icono:'mdi-account', text: 'Vision & mission',module:'VISION', titulo:'Vision & mission are so important to us',contenido:'<p><strong>OUR VISION</strong> <br><br>To continue to trade and service first class commodity supplies with first class buyers, with a strong focus on the Global market. <br><strong>Krece Business Group</strong> strives for successful trading across multiple ranges of commodities, in particular petroleum products where the Oil and Gas Industry has become our key focus. <br><br><strong>OUR MISSION</strong> <br><br><strong>Krece Business Group</strong> provides direct international foreign relations between nations and corporations. <br>We continue to strive towards becoming an integral part of our industry with a culture and ethos that understands and partners its stakeholders at every step of the supply chain. A well routed multi-commodity trading company working in collaboration with only the most trustworthy and solid internationally recognized product providers in the industry ensuring reliability security and sustainability on all valued supply contracts</p>' },
        {imagen:'/14.jpg' , icono:'mdi-flag', text: 'Strategies', module:'STRATEGIES', titulo:'Strategies',contenido:'<p>Our strategies ...</p>' },
      ],
    }),
     methods: {
       itemSeleccionado(item){
         console.log(item);
         this.$store.state.currentComponent = item.module;
         this.$store.state.titulo1 = item.text;
         this.$store.state.titulo2 = item.titulo;
         this.$store.state.icono = item.icono;
         this.$store.state.imagen = item.imagen;
         this.$store.state.contenido = item.contenido;
       }
    },
  }
</script>
<style scoped>
  .tile {
    margin: 5px;
    border-radius: 4px;
  }
  .tile:hover {
    background: green;
  }
  .tile:active {
    background: yellow;
  }
</style>
