<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
       
      </v-col>
     
    </v-row>
    <div>Country</div>
  </v-container>
</template>

<script>
  export default {
    name: 'Country',

    data: () => ({
     
     
    }),
  }
</script>
