<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
       
      </v-col>
     
    </v-row>
    <div>Refinery</div>
  </v-container>
</template>

<script>
  export default {
    name: 'Refinery',

    data: () => ({
     
     
    }),
  }
</script>
