<template>
   <v-app>
    

    <encabezado></encabezado>
    <!-- <carrousel v-if="this.$store.state.currentComponent=='CARROUSEL'"></carrousel>
    <vision v-else-if="this.$store.state.currentComponent=='VISION'"></vision>
    <company v-else-if="this.$store.state.currentComponent=='COMPANY'"></company>
    <strategies v-else-if="this.$store.state.currentComponent=='STRATEGIES'"></strategies>
    <corn v-else-if="this.$store.state.currentComponent=='CORN'"></corn>
    <procedures-1 v-else-if="this.$store.state.currentComponent=='PROCEDURES1'"></procedures-1>
    <soybean v-else-if="this.$store.state.currentComponent=='SOYBEAN'"></soybean>
    <sugar v-else-if="this.$store.state.currentComponent=='SUGAR'"></sugar>
    <country v-else-if="this.$store.state.currentComponent=='COUNTRY'"></country>
    <diesel v-else-if="this.$store.state.currentComponent=='DIESEL'"></diesel>
    <gas v-else-if="this.$store.state.currentComponent=='GAS'"></gas>
    <gasoline v-else-if="this.$store.state.currentComponent=='GASOLINE'"></gasoline>
    <jetfuel v-else-if="this.$store.state.currentComponent=='JETFUEL'"></jetfuel>
    <lubricants v-else-if="this.$store.state.currentComponent=='LUBRICANTS'"></lubricants>
    <procedures-2 v-else-if="this.$store.state.currentComponent=='PROCEDURES2'"></procedures-2>
    <refinery v-else-if="this.$store.state.currentComponent=='REFINERY'"></refinery> -->
    <carrousel v-if="this.$store.state.currentComponent=='CARROUSEL'"></carrousel>
    <generic v-else></generic>

    <p>{{ $t("welcomeMsg") }}</p>


    <v-content>
      

     

      <section id="features" class="grey lighten-3" style="font-family: 'Microsoft Yi Baiti',Verdana!important;">
        <div class="py-12"></div>

        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">KRECE BUSSINES GROUP FEATURES</h2>

          <v-responsive
            class="mx-auto mb-12"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-row>
            <v-col
              v-for="({ icon, title, text }, i) in features"
              :key="i"
              cols="12"
              md="4"
            >
              <v-card
                class="py-12 px-4"
                color="grey lighten-5"
                flat
              >
                <v-theme-provider dark>
                  <div>
                    <v-avatar
                      color="primary"
                      size="88"
                    >
                      <v-icon
                        large
                        v-text="icon"
                      ></v-icon>
                    </v-avatar>
                  </div>
                </v-theme-provider>

                <v-card-title
                  class="justify-center font-weight-black text-uppercase"
                  v-text="title"
                ></v-card-title>

                <v-card-text
                  class="subtitle-1"
                  v-text="text"
                >
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>

        <div class="py-12"></div>
      </section>

      <section id="stats">
        <v-parallax
          :height="$vuetify.breakpoint.smAndDown ? 700 : 500"
          src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
        >
          <v-container fill-height>
            <v-row class="mx-auto">
              <v-col
                v-for="[value, title] of stats"
                :key="title"
                cols="12"
                md="3"
              >
                <div class="text-center">
                  <div
                    class="display-3 font-weight-black mb-4"
                    v-text="value"
                  ></div>

                  <div
                    class="title font-weight-regular text-uppercase"
                    v-text="title"
                  ></div>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-parallax>
      </section>

      <section id="blog">
        <div class="py-12"></div>

        <v-container>
          <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">Blog</h2>

          <v-responsive
            class="mx-auto mb-12"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-row>
            <v-col
              v-for="({ src, text, title }, i) in articles"
              :key="i"
              cols="12"
              md="4"
            >
              <v-img
                :src="src"
                class="mb-4"
                height="275"
                max-width="100%"
              ></v-img>

              <h3
                class="font-weight-black mb-4 text-uppercase"
                v-text="title"
              ></h3>

              <div
                class="title font-weight-light mb-5"
                v-text="text"
              ></div>

              <v-btn
                class="ml-n4 font-weight-black"
                text
              >
                Continue Reading
              </v-btn>
            </v-col>
          </v-row>
        </v-container>

        <div class="py-12"></div>
      </section>

      <v-sheet
        id="contact"
        color="#333333"
        dark
        tag="section"
        tile
      >
        <div class="py-12"></div>

        <v-container>
          <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">Contact Me</h2>

          <v-responsive
            class="mx-auto mb-12"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-theme-provider light>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  flat
                  label="Name*"
                  solo
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  flat
                  label="Email*"
                  solo
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  flat
                  label="Subject*"
                  solo
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-textarea
                  flat
                  label="Message*"
                  solo
                ></v-textarea>
              </v-col>

              <v-col
                class="mx-auto"
                cols="auto"
              >
                <v-btn
                  color="accent"
                  x-large
                >
                  Submit
                </v-btn>
              </v-col>
            </v-row>
          </v-theme-provider>
        </v-container>

        <div class="py-12"></div>
      </v-sheet>
    </v-content>

    <v-footer
      class="justify-center"
      color="#292929"
      height="100"
    >
      <div class="title font-weight-light grey--text text--lighten-1 text-center">
        &copy; {{ (new Date()).getFullYear() }} — Krece Bussines Group.
      </div>
    </v-footer>



    <v-bottom-sheet v-model="sheet" persistent>
      <v-sheet
        class="text-center"
       >
        <v-btn
          class="mt-6"
          text
          color="red"
          @click="aceptaAviso">
          close
        </v-btn>
        <div style="font-weight: bold">Aviso de Privacidad</div>
        <div class="" style="margin: 12px;font-size: smaller;text-align: justify;padding: 0px!important;">
         Le informamos que al entrar a nuestro sitio, podremos recopilar información tal como la dirección IP, dirección MAC, tipo de navegador del usuario, el nombre del dominio y páginas específicas dentro del sitio a través de las cuales tuvo acceso, así como el tiempo de interacción con esta página, cookies con la finalidad de llenar estadísticas del comportamiento de navegación de nuestros usuarios y dirigirle, en el mismo sitio, información de productos que podrían ser de su interés. La información se guarda en bases de datos controladas y con acceso limitado. En el caso de empleo de cookies, el botón de «ayuda» que se encuentra en la barra de herramientas de la mayoría de los navegadores le dirá cómo evitar aceptar nuevos cookies, cómo hacer que el navegador le notifique cuando recibe un nuevo cookie o cómo deshabilitar todas las cookies.
        </div>
        <div style="height:10px"></div>
      </v-sheet>
    </v-bottom-sheet>



  </v-app>
</template>

<script>

import Encabezado from './components/Encabezado';
import Carrousel from './components/Carrousel';
import Vision from './components/About/Vision.vue';
import Company from './components/About/Company.vue';
import Strategies from './components/About/Strategies.vue';
import Corn from './components/Commodities/FoodGrains/Corn.vue';
import Procedures2 from './components/Commodities/FoodGrains/Procedures2.vue';
import Soybean from './components/Commodities/FoodGrains/Soybean.vue';
import Sugar from './components/Commodities/FoodGrains/Sugar.vue';
import Country from './components/Commodities/OilGas/Country.vue';
import Diesel from './components/Commodities/OilGas/Diesel.vue';
import Gas from './components/Commodities/OilGas/Gas.vue';
import Gasoline from './components/Commodities/OilGas/Gasoline.vue';
import Jetfuel from './components/Commodities/OilGas/Jetfuel.vue';
import Lubricants from './components/Commodities/OilGas/Lubricants.vue';
import Refinery from './components/Commodities/OilGas/Refinery.vue';
import Procedures1 from './components/Commodities/OilGas/Procedures1.vue';
import Generic from './components/Commodities/Generic.vue';


export default {
  name: 'App',

  components: {
    Encabezado,
    Carrousel,
    Vision,Company,Strategies,
    Corn,
    Procedures2,
    Soybean,
    Sugar,
    Country,
   Diesel,
    Gas,
    Gasoline,Refinery,
    Lubricants ,Jetfuel,
    Procedures1,
    Generic
  },        
     data: () => ({
       languages: [
                    { flag: 'us', language: 'en', title: 'English' },
                    { flag: 'es', language: 'es', title: 'Español' },
                    { flag: 'pt', language: 'pt', title: 'Portuguese' }
                ],
     fav: true,
      menu: false,
      message: false,
      hints: true,
    
    sheet: true,
      tiles: [
        { img: 'keep.png', title: 'Keep' },
        { img: 'inbox.png', title: 'Inbox' },
        { img: 'hangouts.png', title: 'Hangouts' },
        { img: 'messenger.png', title: 'Messenger' },
        { img: 'google.png', title: 'Google+' },
      ],
    items: [
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me 2' },
      ],
    
    articles: [
          {
            src: 'https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',
            title: 'Mobile first & Responsive',
            text: 'Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.',
          },
          {
            src: 'https://images.unsplash.com/photo-1475938476802-32a7e851dad1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',
            title: 'Think outside the box',
            text: 'Nam ut leo ipsum. Maecenas pretium aliquam feugiat. Aenean vel tempor est, vitae tincidunt risus. Sed sodales vestibulum nibh.',
          },
          {
            src: 'https://images.unsplash.com/photo-1416339442236-8ceb164046f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1892&q=80',
            title: 'Small changes, big difference',
            text: 'Vestibulum in dictum velit, in rhoncus nibh. Maecenas neque libero, interdum a dignissim in, aliquet vitae lectus. Phasellus lorem enim, luctus ut velit eget.',
          },
        ],
        features: [
          {
            icon: 'mdi-account-group-outline',
            title: 'Vibrant Community',
            text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam',
          },
          {
            icon: 'mdi-update',
            title: 'Frequent Updates',
            text: 'Sed ut elementum justo. Suspendisse non justo enim. Vestibulum cursus mauris dui, a luctus ex blandit. Lorem ipsum dolor sit amet consectetur adipisicing elit. qui ipsum eveniet facilis obcaecati corrupti consectetur adipisicing elit.',
          },
          {
            icon: 'mdi-shield-outline',
            title: 'Long-term Support',
            text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam',
          },
        ],
        stats: [
          ['24k', 'Github Stars'],
          ['330+', 'Releases'],
          ['1m', 'Downloads/mo'],
          ['5m', 'Total Downloads'],
        ],
  }),
  methods:{

    aceptaAviso(){
      this.sheet = !this.sheet;
      this.$store.state.showMenu=true;
    },
    changeLocale(locale) {
       i18n.locale = locale;
    }
  }
};
</script>
<style scoped>
   

html *
{
   font-family: "Microsoft Yi Baiti",Verdana!important;
}

.v-application .display-2 {
    font-weight: 400;
     font-family: "Microsoft Yi Baiti",Verdana!important;
}

.v-application {
  
     font-family: "Microsoft Yi Baiti",Verdana!important;
}

.v-application .subtitle-1 {
    font-size: 1rem !important;
    font-weight: normal;
    letter-spacing: 0.009375em !important;
    line-height: 1.75rem;
    font-family: "Microsoft Yi Baiti",Verdana!important;
}

.v-application .display-3 {
    font-size: 3.75rem !important;
    font-weight: 300;
    line-height: 3.75rem;
    letter-spacing: -0.0083333333em !important;
     font-family: "Microsoft Yi Baiti",Verdana!important;
}

.v-application .title {
    font-size: 1.25rem !important;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.0125em !important;
  font-family: "Microsoft Yi Baiti",Verdana!important;
}

</style>
